In [22]:
### workclass occupation native country
# ? , 삭제, 최빈값
import pandas as pd
import numpy as np

In [23]:
train = pd.read_csv('data1/train.csv',index_col=[0])
test = pd.read_csv('data1/test.csv',index_col=[0])

In [24]:
train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
no,,,,,,,,,,,,,,,
1,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,0
2,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States,0
3,35,Private,196899,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,Haiti,0
4,64,Private,135527,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
5,24,Private,60783,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29301,20,Private,100605,HS-grad,9,Never-married,Sales,Own-child,Other,Male,0,0,40,Puerto-Rico,0
29302,21,Private,372636,HS-grad,9,Never-married,Sales,Own-child,Black,Male,0,0,40,United-States,0
29303,18,Self-emp-not-inc,258474,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,0
29304,33,Private,157446,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States,0
29305,65,?,94809,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,40,United-States,0

In [25]:
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
no,,,,,,,,,,,,,,
29306,18,?,245274,Some-college,10,Never-married,?,Own-child,White,Male,0,0,16,United-States
29307,29,Private,83003,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,United-States
29308,45,Private,35136,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,40,United-States
29309,42,Self-emp-not-inc,64631,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
29310,41,Private,195821,Doctorate,16,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1902,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48838,45,Self-emp-not-inc,116789,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States
48839,48,Private,185079,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,50,United-States
48840,63,Private,117473,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,4386,0,40,United-States
48841,18,Private,150817,11th,7,Never-married,Sales,Own-child,White,Female,0,0,20,United-States
48842,31,Private,341632,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,46,United-States

### 1. 전체 데이터 중 결측치 있는 항목(행)을 삭제합니다.
 - 결측치 있는 컬럼 : workclass, occupation, native-country

In [26]:
# rem_MV(remove missing value)에 workclass가 " ?"인 모든 행을 저장합니다.
# drop함수 이용해서 해당 행 삭제합니다.
rem_MV = train[train['workclass'] == " ?"].index
train = train.drop(rem_MV)

In [27]:
rem_MVt = test[test['workclass'] == " ?"].index
test = test.drop(rem_MVt)

In [28]:
# 같은 방식으로 occupation이 "?"인 모든 행을 삭제합니다
rem_MV1 = train[train['occupation'] == " ?"].index
train = train.drop(rem_MV1)

In [29]:
rem_MVt1 = test[test['occupation'] == " ?"].index
test = test.drop(rem_MVt1)

In [30]:
rem_MV2 = train[train['native-country'] == " ?"].index
train = train.drop(rem_MV2)

In [31]:
rem_MVt2 = test[test['native-country'] == " ?"].index
test = test.drop(rem_MVt2)

In [32]:
train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
no,,,,,,,,,,,,,,,
1,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,0
2,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States,0
3,35,Private,196899,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,Haiti,0
4,64,Private,135527,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
5,24,Private,60783,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,23,Private,117789,Bachelors,13,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,0
29301,20,Private,100605,HS-grad,9,Never-married,Sales,Own-child,Other,Male,0,0,40,Puerto-Rico,0
29302,21,Private,372636,HS-grad,9,Never-married,Sales,Own-child,Black,Male,0,0,40,United-States,0
29303,18,Self-emp-not-inc,258474,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,0
29304,33,Private,157446,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States,0

In [33]:
test

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
no,,,,,,,,,,,,,,
29307,29,Private,83003,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,United-States
29308,45,Private,35136,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,40,United-States
29309,42,Self-emp-not-inc,64631,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
29310,41,Private,195821,Doctorate,16,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,1902,40,United-States
29311,17,Private,25690,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,10,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48838,45,Self-emp-not-inc,116789,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States
48839,48,Private,185079,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,50,United-States
48840,63,Private,117473,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,4386,0,40,United-States
48841,18,Private,150817,11th,7,Never-married,Sales,Own-child,White,Female,0,0,20,United-States
48842,31,Private,341632,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,Black,Male,0,0,46,United-States

### 총 29305개의 데이터 중 2132개 데이터 삭제(train)
### 총 19537개의 데이터 중 1488개 데이터 삭제(test)

In [35]:
# train 데이터에서 정답 컬럼
y_train = train['income']

# train 데이터에서 정답 컬럼을 삭제한 후 남은 컬럼들
X_train = train.drop('income', axis = 1)

# 맨 처음에 받았던 test.csv
X_test = test

### 원핫인코딩 - train, test 모두

In [38]:
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)
# X_train
# X_test

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
no,,,,,,,,,,,,,,,,,,,,,
1,25,219199,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,39,52978,10,0,1721,55,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,35,196899,13,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,64,135527,11,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
5,24,60783,10,0,0,70,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,23,117789,13,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
29301,20,100605,9,0,0,40,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
29302,21,372636,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
29303,18,258474,6,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29304,33,157446,7,0,0,65,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [39]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.1.1-py2.py3-none-win_amd64.whl (754 kB)
Requirement already satisfied: scipy in c:\users\qoska\anaconda3\lib\site-packages (from lightgbm) (1.5.2)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\qoska\anaconda3\lib\site-packages (from lightgbm) (0.23.2)
Requirement already satisfied: wheel in c:\users\qoska\anaconda3\lib\site-packages (from lightgbm) (0.35.1)
Requirement already satisfied: numpy in c:\users\qoska\anaconda3\lib\site-packages (from lightgbm) (1.19.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\qoska\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\qoska\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (0.17.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.1.1

In [40]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.3.1-py3-none-win_amd64.whl (95.2 MB)
Requirement already satisfied: numpy in c:\users\qoska\anaconda3\lib\site-packages (from xgboost) (1.19.2)
Requirement already satisfied: scipy in c:\users\qoska\anaconda3\lib\site-packages (from xgboost) (1.5.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.3.1

In [49]:
from sklearn.model_selection import cross_val_score, train_test_split, KFold
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

# 모델 설정
# ------------------------

lgb_model = LGBMClassifier(n_estimators = 1000, learning_rate=0.01, random_state=123)
lgb_model.fit(X_train, y_train) # transform_X_train

xg_model = XGBClassifier(n_estimators = 100, learning_rate=0.01, random_state = 123)
xg_model.fit(X_train, y_train) # transform_X_train

forest_model = RandomForestClassifier(n_estimators=100, random_state= 11)
forest_model.fit(X_train, y_train) # transform_X_train

# ---------------------------------------------

# 정확도

kfold = KFold(n_splits=10, random_state=123, shuffle=True)

acc_result = cross_val_score(lgb_model, # 모델
                         X_train, # transform_X_train
                         y_train,
                         cv = kfold,
                         scoring='f1'
                        )

print(acc_result.mean())

# -----------------------------------------------

# F1 score

f1_result = cross_val_score(lgb_model, # 모델
                         X_train, # transform_X_train
                         y_train,
                         cv = kfold,
                         scoring='f1'
                        )

print(f1_result.mean())

# ------------------------------------------

C:\Users\qoska\anaconda3\lib\site-packages\xgboost\sklearn.py:892: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[15:55:53] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.7166345576250718
0.7166345576250718

In [45]:
# 정확도

kfold = KFold(n_splits=10, random_state=123, shuffle=True)

acc_result = cross_val_score(xg_model, # 모델
                         X_train, # transform_X_train
                         y_train,
                         cv = kfold,
                         scoring='f1'
                        )

print(acc_result.mean())

# -----------------------------------------------

# F1 score

f1_result = cross_val_score(xg_model, # 모델
                         X_train, # transform_X_train
                         y_train,
                         cv = kfold,
                         scoring='f1'
                        )

print(f1_result.mean())

# ------------------------------------------

[15:49:41] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:49:54] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:50:04] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:50:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:50:28] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:50:38] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:50:46] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:50:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:51:09] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:51:20] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.6598626997843584
[15:51:28] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:51:37] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:51:52] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:52:05] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:52:14] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:52:25] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:52:34] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:52:42] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:52:50] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[15:52:58] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.6598626997843584

In [50]:
# 정확도

kfold = KFold(n_splits=10, random_state=123, shuffle=True)

acc_result = cross_val_score(forest_model, # 모델
                         X_train, # transform_X_train
                         y_train,
                         cv = kfold,
                         scoring='f1'
                        )

print(acc_result.mean())

# -----------------------------------------------

# F1 score

f1_result = cross_val_score(forest_model, # 모델
                         X_train, # transform_X_train
                         y_train,
                         cv = kfold,
                         scoring='f1'
                        )

print(f1_result.mean())

# ------------------------------------------

0.67864532211554
0.67864532211554